* {
  margin: 0px;
  padding: 0px; }

body {
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 2vw;
  text-shadow: 0px 3px 6px #000; }
  body header {
    background-color: #000;
    height: 7vh;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    color: #eee;
    font-size: 0.5em; }
    body header a {
      color: #eee;
      text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900; }

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1; }
  .bg .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%; }

.card-container {
  margin: 1em; }
  .card-container h3 {
    margin-bottom: 0.5em; }
  .card-container a {
    color: #eee;
    text-decoration: none; }

.emoji-card {
  display: inline-block;
  outline: 1px solid #eee;
  padding: 0.5em;
  font-size: 5em;
  background: rgba(238, 238, 238, 0.5);
  box-shadow: 0px 5px 15px 0px #000; }
