@import '_variables.scss';

.bg {
  .img {
    max-width: 10%;
    max-height: 10%;
    background-image: url(https://images.unsplash.com/photo-1534322869500-14fc9f5f5767?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=edbdf7bf9be18bbb172602d7f392f239&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    background-color: lightblue;
    background-blend-mode: multiply;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: $light;
}

.stats-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .the-facts {
    width: 27%;
    .emoji-card.card-text {
      font-size: 1em;
      padding: 1.5em;

      p, small {
        color: $dark;
      }

      a {
        color: blue;
      }
    }
  }

  .the-stats {
    width: 60%;

    p {
      font-style: italic;
    }
  }

  .emoji-card {
    text-shadow: none;
  }

  .emoji-card.card-stats {
    width: 80%;

    .ct-label.ct-horizontal {
      font-size: 0.25em;
      color: white;
    }

    .chartist-tooltip {
      font-size: 0.25em;
      color: $dark;
    }

    .ct-bar {
      stroke-width: 4vw;
    }
  }
}